<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= t('placeholders.entries') %></title>
  <%= stylesheet_link_tag 'entries' %>
</head>
<body>
  <div class="content-container">
    <%= link_to new_user_journal_entry_path(current_user), class: 'content-card' do %>
      <%= t('new_entry') %>
    <% end %>

    <% current_user.journal_entries.each do |entry| %>
      <div class="content-card">
        <%= link_to user_journal_entry_path(current_user, entry), class: 'journal-entry-link' do %>
          <h2><%= entry.title %></h2>
          <p><%= entry.date %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</body>
</html>
