<h1><%= t('create_entry') %></h1>
<%= simple_form_for @journal_entry, url: user_journal_entries_path do |f| %>
  <form>
    <%= f.input :title, label: 'Title' %>
    <%= f.input :date, label: 'Date' %>
    <%= f.input :content, as: :text, label: 'Content' %>
    <%= f.file_field :attached_document, label: 'Attached Document' %><br><br>
    <%= f.button :submit %>
  </form>
<% end %>
