<h1><%= t('create_entry') %></h1>
<%= simple_form_for @journal_entry, url: user_journal_entries_path do |f| %>
  <%= f.input :title %>
  <%= f.input :date %>
  <%= f.input :content, as: :text %>
  <%= f.button :submit %>
<% end %>
