<div class="show-container">
  <h1><%= t('entry_details') %></h1>

  <div class="show-label"><%= t('title') %></div>
  <div class="show-value"><%= @journal_entry.title %></div>

  <div class="show-label"><%= t('choose_date') %></div>
  <div class="show-value"><%= l(@journal_entry.date, format: :default) %></div>

  <div class="show-label"><%= t('content') %></div>
  <div class="show-value"><%= @journal_entry.content %></div>

  <div class="buttons-container">
    <%= link_to t('back'), user_journal_entries_path, class: 'button' %>
    <%= link_to t('edit'), edit_user_journal_entry_path(@journal_entry), class: 'button' %>
    <%= link_to t('delete'), user_journal_entry_path(@journal_entry), method: :delete, data: { confirm: t('confirm_delete') }, class: 'button' %>
  </div>
</div>
