<% if current_user.admin? %>
  <h1><%= t('placeholders.profile') %></h1>
  <p><%= current_user.first_name %></p>
  <p><%= current_user.last_name %></p>
  <%= link_to t('logout_user'), user_session_path(current_user), data: { turbo_method: :delete } %><br>
  <h1><%= t('users.index') %></h1>
  <ul>
    <% @users.each do |user| %>
      <li>
        <%= link_to user.first_name, user_path(user) %>
        <% if current_user.admin? && user != current_user %>
          <%= form_for user, url: user_path(user), method: :patch do |f| %>
            <%= f.label :role, t('admin') %>
            <%= f.check_box :role, { multiple: true }, :admin, :user %>
            <%= f.submit t('update_role') %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <h1><%= t('placeholders.profile') %></h1>
  <p><%= current_user.first_name %></p>
  <p><%= current_user.last_name %></p>
  <%= link_to t('logout_user'), user_session_path(current_user), data: { turbo_method: :delete } %><br>
<% end %>