<h1><%= t('create_user') %></h1>
<%= simple_form_for @user do |f| %>
  <%= f.input :fist_name %>
  <%= f.input :last_name %>
  <%= f.input :date_of_birth, as: :date %>
  <%= f.input :joining_date, as: :date %>
  <%= f.button :submit %>
<% end %>