<h1><%= t('create_user') %></h1>
<%= simple_form_for @user do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>
  <%= f.input :designation %>
  <%= f.input :date_of_birth, as: :date %>
  <%= f.input :joining_date, as: :date %>
  <%= f.label :password %>
  <%= f.password_field :password %><br>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %><br>
  <%= f.button :submit %>
<% end %>
 