<h1><%= t('goal.edit') %></h1>

 <%= form_for @goal do |f| %>
<div class="field">
  <%= f.label :description %>
  <%= f.text_area :description, rows: 5 %>
</div>

<div class="field">
  <%= f.label :deadline %>
  <%= f.date_field :deadline %>
</div>

<div class="field">
  <%= f.label :status %>
  <%= f.select :status, options_for_select([[t('goal.in_progress'), 'in_progress'], [t('goal.completed'), 'completed'], [t('goal.not_started'), 'not_started']]) %>
</div>

<div class="actions">
  <%= f.submit t('goal.update_goal') %>
</div>
<% end %>

<p><%= link_to t('goal.back_to_goal_details'), goal_path(@goal) %></p>
