<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> <%=t('placeholders.goals')%> </title>
  <%= stylesheet_link_tag 'entries' %>
</head>
<body>
  <div class="content-container">
    <%= link_to new_goal_path, class: "content-card" do %>
      <%= t('new_goal') %>
    <% end %>

    <% current_user.goals.each do |goals| %>
      <div class="content-card">
        <h2><%= goal.description %></h2>
        <p><%= goal.status %></p>
      </div>
    <% end %>
  </div>
</body>
</html>
