<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= t('placeholders.goals') %></title>
  <%= stylesheet_link_tag 'entries' %>
</head>
<body>
  <div class="content-container">
    <%= link_to new_user_goal_path(current_user), class: "content-card" do %>
      <%= t('new_goal') %>
    <% end %>
<% current_user.goals.each do |goal| %>
  <div class="content-card">
    <%= link_to user_goal_path(current_user, goal), class: "goal-link" do %>
      <h2><%= goal.description %></h2>
      <p><%= goal.status %></p>
    <% end %>
  </div>
<% end %>

  </div>
</body>
</html>
