<<<<<<< HEAD
<h1> <%=t('placeholders.goals')%></h1>
=======
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> t('placeholders.goals') </title>
  <%= stylesheet_link_tag 'entries' %>
</head>
<body>
  <div class="content-container">
    <%= link_to new_journal_entry_path, class: "content-card" do %>
      <%= t('new_entry') %>
    <% end %>

    <% current_user.goals.each do |goal| %>
      <div class="content-card">
        <h2><%= goal.description %></h2>
      </div>
    <% end %>
  </div>
</body>
</html>
>>>>>>> parent of e857b13 (create new usw)
