 <div class="show-container">
  <h1><%= t('goal.show') %></h1>
  <div class="show-label"><%= t('goal.description') %>:</div>
  <div class="show-value"><%= @goal.description %></div>
  <div class="show-label"><%= t('goal.deadline') %>:</div>
  <div class="show-value"><%= @goal.deadline %></div>
  <div class="show-label"><%= t('goal.status') %>:</div>
  <div class="show-value"><%= @goal.status %></div>
  <div class="buttons-container">
    <%= link_to t('goal.back_to_goal_details'), user_goals_path, class: 'button' %>
    <%= link_to t('goal.edit'), edit_user_goal_path(@user, @goal), class: 'button' %>
    <%= link_to t('goals.delete'), user_goal_path(@user, @goal), data: { turbo_method: :delete }, class: 'button' %>
  </div>
</div>
