<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= t('goal.edit') %></title>
</head>
<body>
  <div class="goal-details">
    <h1><%= t('goal.edit') %></h1>
    
    <h2><%= t('goal.description') %>:</h2>
    <p><%= @goal.description %></p>

    <h2><%= t('goal.deadline') %>:</h2>
    <p><%= l(@goal.deadline) %></p>

    <h2><%= t('goal.status') %>:</h2>
    <p><%= t("goal.#{@goal.status}") %></p>

    <%= link_to t('goal.edit'), edit_goal_path(@goal), class: 'edit-button' %>
    
    <p><%= link_to t('goal.back_to_goal_details'), goals_path %></p>
  </div>
</body>
</html>
