<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header class="navbar">
    <nav class="nav-items">
      <%= link_to t('log'), journal_entries_path, class: 'nav-link' %>
      <%= link_to t('tasks'), tasks_path, class: 'nav-link' %>
    </nav>
    <%= link_to root_path do %>
    <div class="logo">
      <span><%= t('logo.j') %></span>
      <span><%= t('logo.o') %></span>
      <span><%= t('logo.u') %></span>
      <span><%= t('logo.r') %></span>
      <span><%= t('logo.n') %></span>
      <span><%= t('logo.e') %></span>
      <span><%= t('logo.y') %></span>
    </div>
  <% end %>
    <nav class="nav-items">
      <%= link_to t('goals'), goals_path, class: 'nav-link' %>
      <%= link_to t('profile'), users_path, class: 'nav-link' %>
    </nav>
  </header>
  <script src="<%= asset_path('typing_animation.js') %>"></script>
</body>
</html>
