<%# 
<nav class="navbar">
  <ul class="nav-list">
    <%# <li><%= link_to 'Home', '/pages/home' %>
    <%# </li>
    <%# <li><%= link_to 'Log Entries', '/log/entries' %>
    <%# </li>
    <li><%= 'JOURNEY' %></li>
<%# </ul>
</nav>    %>


</head>
<body>
  <header class="navbar">
    <nav class="nav-items">
      <%= link_to "LOG", '/pages/home' %>
      <%= link_to "TASKS", tasks_path %>
    </nav>
    <div class="logo">Journey.</div>
    <nav class="nav-items">
      <%= link_to "GOALS", goals_path, class: "nav-link" %>
      <%= link_to "PROFILE", profile_path %>
    </nav>
  </header>
</body>
</html>