<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header class="navbar">
    <%= link_to root_path do %>
      <div class="logo"><%= t('journey') %></div>
    <% end %>
    <nav class="nav-items">
      <%= link_to t('goals'), user_goals_path(current_user), class: 'nav-link' %>
      <%= link_to t('profile'), users_path, class: 'nav-link' %>
      <%= link_to t('log'), user_journal_entries_path(current_user), class: 'nav-link' %>
      <%= link_to t('tasks'), user_tasks_path(current_user), class: 'nav-link' %>
    </nav>
  </header>
</body>
</html>
